#modal-inject {
  position: fixed;
  background-color: rgba($color: #181818, $alpha: 0.9);
  width: 100%;
  height: 100%;
  align-items: center;
  display: none;
  justify-content: center;
  z-index: 99;
  #modal-background {
    position: absolute;
    background-color: rgba($color: #fff, $alpha: 0);
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  .modal-wrapper {
    margin: 0 auto;
    width: 565px;
    min-height: 60vh;
    border-radius: 40px;
    background-color: #d9d9d9;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    .x-button {
      cursor: pointer;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;
      color: #f2f2f2;
      font-family: $UniH;
      width: 32px;
      height: 32px;
      right: 0;
      margin-right: 25px;
      margin-top: 5px;
      border-radius: 5px;
      background-color: rgba($color: #a8a8a8, $alpha: 0.65);
      &:hover {
        background-color: rgba($color: #ababab, $alpha: 0.85);
        color: #dbdbdb;
      }
    }
    .modal-content {
      margin-top: 60px;
      color: #141414;
      display: flex;
      flex-direction: column;
      row-gap: 5px;
      input {
        width: 420px;
        height: 65px;
        border-radius: 5px;
        border: 2px solid #eeeeee;
        font-family: $UniBold;
        font-size: 18px;
        padding: 13px;
        margin-top: 10px;
        background-color: #eeeeee;
        color: #141414;
      }
      .sign-titles {
        font-family: $UniBold;
        font-size: 28px;
        margin-bottom: 16px;
        text-align: center;
      }
      .remember-box {
        display: flex;
        align-items: center;
        width: 400px;
        margin-top: 10px;
        a {
          margin-left: 5px;
          text-decoration: none;
          text-transform: uppercase;
          letter-spacing: 2.5px;
          font-size: 12px;
          color: #c82929;
          cursor: pointer;
          &:hover {
            color: #a72222;
          }
        }
      }
      .login-button {
        width: 420px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #c82929;
        color: #fff;
        font-family: $UniH;
        text-decoration: none;
        font-size: 18px;
        border-radius: 5px;
        margin-top: 26px;
        cursor: pointer;
        &:hover {
          background-color: #a72222;
        }
      }
      span {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
        width: 420px;
        height: 45px;
        font-size: 14px;
        background-color: #322ad4;
        border-radius: 5px;
        cursor: pointer;
        font-family: $UniH;
        color: #f2f2f2;
        &:hover {
          background-color: #2a23a5;
        }
      }
    }
  }
  .modal-wrapper2 {
    display: none;
    margin: 0 auto;
    width: 565px;
    min-height: 60vh;
    border-radius: 40px;
    background-color: #d9d9d9;
    padding: 20px 30px;
    flex-direction: column;
    align-items: center;
    position: relative;
    .x-button {
      cursor: pointer;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;
      color: #f2f2f2;
      font-family: $UniH;
      width: 32px;
      height: 32px;
      right: 0;
      margin-right: 25px;
      margin-top: 5px;
      border-radius: 5px;
      background-color: rgba($color: #a8a8a8, $alpha: 0.65);
      &:hover {
        background-color: rgba($color: #ababab, $alpha: 0.85);
        color: #dbdbdb;
      }
    }
    .modal-content {
      margin-top: 60px;
      color: #eeeeee;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      row-gap: 5px;
      .login-button {
        width: 420px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #c92323;
        color: #fff;
        font-family: $UniH;
        text-decoration: none;
        font-size: 18px;
        border-radius: 5px;
        margin-top: 26px;
        cursor: pointer;
        &:hover {
          background-color: #a62020;
        }
      }
      h1 {
        text-align: center;
        font-family: $UniH;
        font-size: 50px;
        margin-bottom: 120px;
        margin-top: 50px;
        width: 300px;
        color: #141414;
      }
    }
  }
}
