* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: $UniBold;
  background-color: #dfdfdf;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
  color: #f2f2f2;
}

#inject {
  margin: 10px 40px 0px 40px;
}

.site-wrapper {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #f2f2f2;
}

::-webkit-scrollbar-thumb {
  background: #949494;
  border-radius: 10px;
}

@font-face {
  font-family: "UniHeavy";
  src: url(../css/fonts/UniNeue-Heavy.ttf) format("truetype");
}

@font-face {
  font-family: "UniBold";
  src: url(../css/fonts/UniNeue-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "UniReg";
  src: url(../css/fonts/UniNeue-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "UniBlack";
  src: url(../css/fonts/UniNeue-Black.ttf) format("truetype");
}

@font-face {
  font-family: "MontBold";
  src: url(../css/fonts/Montserrat-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "MontSemiB";
  src: url(../css/fonts/Montserrat-SemiBold.ttf) format("truetype");
}

@font-face {
  font-family: "MonthMed";
  src: url(../css/fonts/Montserrat-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "Anydore";
  src: url(../css/fonts/Anydore.ttf) format("truetype");
}
